










@media  screen and (max-width: 480px) {
    *,
    *::before,
    *::after {
    margin: 9px auto;
    padding: 0;
    box-sizing: border-box;
    }

    body {
        background-color: #222222;
    }

    .steps .col {
        width: 80%;
      }

    .container {
        padding: 0 20px;
        display: inline;
    }

    .row {
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    .lessons .col {
        width: 80%;
    }

    .lessons .col img {
        width: 100%;
        height: auto;
        margin-bottom: 1rem;
      }

      .why-us .col-left {
        width: 80%;
      }

      .why-us .col-right {
        width: 80%;
      }

      .why-us {
        background-color: #222222;
      }

      .steps {
        margin: 0;
      }
}












