

@media  screen and (max-width: 768px) {

  .text-center {
      
    }

  .container {
      width: 100%;
      margin: 0 auto;
      padding: 0 20px;
    }
    
    .why-us {
      margin-bottom: 3rem;
    }

    .why-us .col-right {
      width: 65%;
    }

    .why-us .col-left {
      width: 90%;
    }
}




@media  screen and (max-width: 480px) {
    *,
    *::before,
    *::after {
    padding: 0;
    box-sizing: border-box;
    }

    .steps .col {
        width: 80%;
        margin: 20px auto;
      }

    .container {
        padding: 0px 20px;
        display: inline;
    }

    .row {
        display: contents;
    }

    .lessons .col {
        width: 80%;
        margin: 30px auto;
    }

    .lessons .col img {
        width: 100%;
        height: auto;
        margin-bottom: 1rem;
    }

    .why-us .col-left {
        width: 80%;
        margin: 0 auto;
    }

    .why-us .col-right {
      width: 80%;
      margin: 0 auto;
    }

    .why-us {
      background-color: #222222;
      padding-top: 40px;
    }

    .steps {
      margin: 0;
    }
}









